In [12]:
import pandas as pd

In [15]:
scalation_data = pd.read_csv("02a-jhu_2022-11-18-05-14-54.csv")
scalation_data.head()

,Date,State,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,...,Case_Fatality_Ratio,UID,ISO3,Testing_Rate,Hospitalization_Rate,People_Tested,Mortality_Rate,daily_deaths,rolling_deaths_3,rolling_deaths_7
0,2020-04-12,AK,61.3707,-152.4044,272,8,66.0,198.0,2.0,37.181581,...,0.0,84000002.0,USA,1344.711576,11.397059,8038.0,2.941176,NaN,NaN,NaN
1,2020-04-13,AK,61.3707,-152.4044,277,8,85.0,184.0,2.0,37.865066,...,0.0,84000002.0,USA,1309.914362,11.552347,7830.0,2.888087,0.0,NaN,NaN
2,2020-04-14,AK,61.3707,-152.4044,285,9,98.0,178.0,2.0,38.958642,...,0.0,84000002.0,USA,1396.572809,11.228070,8348.0,3.157895,1.0,NaN,NaN
3,2020-04-15,AK,61.3707,-152.4044,293,9,106.0,178.0,2.0,40.052218,...,0.0,84000002.0,USA,1449.437808,11.604096,8664.0,3.071672,0.0,0.333333,NaN
4,2020-04-16,AK,61.3707,-152.4044,300,9,110.0,181.0,2.0,41.009097,...,0.0,84000002.0,USA,1461.315703,11.666667,8735.0,3.000000,0.0,0.333333,NaN

In [16]:
scalation_data["FIPS"] = scalation_data["FIPS"].astype('int64').astype(str).str.zfill(2)

In [18]:
scalation_data.to_csv("02a-jhu_2022-11-18-05-14-54_v3.csv")